{% extends "blog/base.htm" %}

{% block content %}
    <!-- <h1 >Blog About Page</h1>
    <p>
        About this site.
    </p> -->
    <article class="media content-section mt-5">
        <div class="media-body">
          <p dir="rtl">

          إنّ الكتاب هو نافذة على العالم الواسع للعلم والمعرفة. والكتاب الجيّد، هو أحد أفضل وسائل الكمال البشري.(الإمام القائد الخامنئي)

تتنامى المجتمعات بارتباطها الوثيق بالكتاب اذ انه يشكل مادة حيوية في نهوض المجتمعات وتطورها. فطرق الكتابة والقراءة تطورت بتطور العصور حتى اصبحت تنشر على نطاق واسع عبر المنصات الالكترونية والافتراضية.

نسعى جاهدين ان نتطور وننمي انفسنا كي نؤمّن اكتفائنا الثقافي والمعيشي. ولما كانت المعلومة هي اصل البداية  تجلى واجبنا في السعي لانشاء مكتبة إلكترونية لتعبّد الطريق امام الشباب  المتعلم حتى يكون قادرا على التواجد في كل الساحات العلمية منها والثقافية.

مكتبتنا الالكترونية(انا والكتاب) اسست على يد الشباب المتعلم في كلية الهندسة الجامعة اللبنانية. حدودها نشر الثقافة وطريقها المطالعة.

<br><br>
لتطوير المكتبة والابلاغ عن اي  ملاحظة نرجوا مراسلتنا على حسابنا:
<br><br>
ta3bi2aeng@gmail.com
<br><br>
او تعبئة الإستمارة على:
<br><br>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdxiR8On_SUiS-ZIthwrenovVPUXAOgqlT3eYZ6LvsK8MqpIA/viewform?usp=sf_link"> Google form </a>

          </p>
        </div>
    </article>
{% endblock content %}